page-t-task {
    .taskList{
        margin: 5%;
        margin-top: 10%;
        font-size: 15pt;
        color: #00998e ;
    }
    .add-button{
        margin-top: 33%;
        margin-left: 12%
    }
    .detail{
        text-align: right;
    }
    .task{
        margin-bottom: 0%
    }
    .score{
        font-size: 10pt;
        margin-top: -3%;
        color: #B3B2B2;
    }
    .right{
        text-align: right;
    }
}
