
<ion-header>

  <ion-navbar>
    <ion-title ><img src="pic/logo.png" class="logo"></ion-title>
    <ion-buttons start>
    <button ion-button  navPop >ย้อนกลับ</button>
    </ion-buttons>
    <ion-buttons end>
    <button ion-button icon-left (click)="moveToSelectRoom()">Next</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<ion-row>
  		<ion-col>เลือกวิชา</ion-col>
  		<ion-col>ผู้สอน : {{teach.t_name}}</ion-col>
  	</ion-row>
  	<ion-item *ngFor="let subject of showSubject">
  		<ion-label *ngIf="subject">{{subject.s_no}} {{subject.s_name}} ({{subject.credit}} หน่วยกิต)</ion-label>
  		<ion-checkbox *ngIf="!chooseSubject && !subject.status" disabled="false" [(ngModel)]="subject.status" (ionChange)="chooseThis(subject)"></ion-checkbox>
		<ion-checkbox *ngIf="chooseSubject && subject.status" [(ngModel)]="subject.status" (ionChange)="chooseThis(subject)"></ion-checkbox>
  		<ion-checkbox *ngIf="chooseSubject && !subject.status" [(ngModel)]="subject.status" disabled='true' (ionChange)="chooseThis(subject)"></ion-checkbox>
  	</ion-item>

</ion-content>
