page-t-category {
    .credit{
        text-align: right;
    }
    .listCategory{
        margin:-1px 0px 0px;
    }.selectSub{
        margin-left: 15%;
        padding-left: 13%;
    }.optionSub{
        margin-left: 10%;
    }
}
