page-t-category-detail {
    .listCategory{
        margin:-1px 0px 0px;
    }
    .add-button{
        margin-top: 15%;
        margin-left: 12%
    }
    .percent{
        font-size: 22pt;
        text-align: center;
        color: #00998e ;
        
    }
    .percentText{
        text-align: center;
        
    }
    .detail{
        text-align: right;
    }
}
