page-home {
    .backgroud{
        background-color: #00998e;
        
    }
    .splash{
        width: 80%;
        margin: 10%;
    }
    .title{
        color: #fff;
    }
    .box{
        background-color: #fff;
        
    }

}
