page-about-us {
.circle{
	  height: auto;
	  width: auto;
	  border: 1px solid #fff;
	  border-radius: 50%;
	  display: inline-block;
	  margin-left: auto;
	  margin-right: auto;
	}
	.img1{
		 height: 100%;
	  width: 100%;
	}
}
