.toolbar-background {
    background: #00998e;
    color: #fff;
}
.logo{
    width: 70%;
    text-align: center
}
.t-profile{
    border-radius: 100%;
    width: 40%;
    border: solid #00998e;
    margin-left: 29%;

}
.edit-button{
    margin-left: 40%;
}
.login-button{
    margin-top: 5%;
    margin-left: 40%
}

ion-content{
    font-family: 'Kanit', sans-serif;
    font-size: 10pt;
}
ion-header{
    font-family: 'Kanit', sans-serif;
    font-size: 10pt;
}
ion-tabs{
    font-family: 'Kanit', sans-serif;
    font-size: 10pt;
}





