page-t-help {
    .header{
        text-align: center;
    }
    .logo{
        width: 70%;
        text-align: center
    }
    .detail{
        margin-top: 5%;
    }
    .bold{
        font-weight: bold;
    }
}
